
  <div id="app">
    <span v-text="message"></span>
      <h1>{{ message }}</h1>

    </div>
  <div id="root">

  </div>
  
<script>      
/*jQuery( document ).ready(function() {
    console.log( "ready!" );
});*/          
</script>

    